
body{
    background-color: whitesmoke;
}
.account{
    background-color:white;
    width: 40%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-transform: capitalize;
    font-size: 35px;
    padding-top: 30px;
}

p{
    font-size: 15px;
}

.social{
    display:inline-flex;
    margin: 30px 0px;

    
}
    

.facebook{
    background-color: rgb(60, 60, 172);
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 10px;

}

.twitter{
    background-color: rgb(67, 167, 224);
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.google{
    background-color: rgb(180, 40, 40);
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;

} 

.divider{
    display: flex;
    align-items: center;
}

.divider::before, .divider::after{
    content: "";
    padding: 1px;
    flex: 1;
    background-color:grey;
    margin: 30px;

}

.divider-bg{

    background-color:white;
    padding: 8px;
    border-radius: 25px;
    border: 1px solid black;
}

input[type=text]{
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    width: 80%;
    text-transform: capitalize;
    text-indent: 20px;
    
}

input[type=text]:focus{
    border-radius: 15px;
    outline: none;

}

.user{

    position: absolute;
    left: 34%;
    bottom: 47%;
}


input[type=email]{
    margin: 10px 0;
    padding: 5px;
    border-radius: 15px;
    width: 80%;
    text-transform: capitalize;
    text-indent: 20px;
    
}

.em{
    position: absolute;
    left: 34%;
    bottom: 39%;
}


input[type=password]{
    margin: 10px 0;
    padding: 5px;
    border-radius: 15px;
    width: 80%;
    text-transform: capitalize;
    
}


input[type=submit]{
    margin: 10px 0;
    padding: 5px;
    border-radius: 15px;
    width: 80%;
    background-color: forestgreen;
    text-transform: capitalize;
    
}

